<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户信息管理</title>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/vue.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<div id="myApp">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="container-fluid">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white" href="http://localhost:8080/index.html">博客首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">文章管理</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">分类管理</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">标签管理</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">评论管理</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">模块管理</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">友链管理</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="http://localhost:8080/userList.html">用户管理</a>
                </li>
            </ul>
            <div class="d-flex ms-auto">
                <input class="form-control me-2" type="text" placeholder="用户名" v-model="params.memberName">
                <button class="btn btn-outline-success me-2" type="button" @click="query">查询用户</button>
                <button class="btn btn-outline-success" type="button" @click="addPage">新建用户</button>
            </div>
        </div>
    </nav>
<!--    <form class="form-inline">-->
<!--    <div class="form-group">-->
<!--        <label class="col-sm-4 control-label">用户名:</label>-->
<!--        <div class="col-sm-2">-->
<!--            <input type="text" class="form-control" v-model="params.memberName">-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <div class="col-sm-8">-->
<!--            <button type="button" @click="query" class="btn btn-info">查询用户信息</button>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <div class="col-sm-8">-->
<!--            <button type="button" @click="addPage"class="btn btn-info">跳转新增页面</button>-->
<!--        </div>-->
<!--    </div>-->
<!--    </form>-->
    <table class="table table-bordered">
        <th>用户编号</th>
        <th>用户名</th>
        <th>用户权限</th>
        <th>密码</th>
        <th>邮箱</th>
        <th>操作</th>
        <tbody>
        <tr v-for="x in list">
            <!--{{}}:文本绑定-->
            <td>{{x.memberId}}</td>
            <td>{{x.memberName}}</td>
            <td>{{x.memberLevel}}</td>
            <td>{{x.memberPassword}}</td>
            <td>{{x.memberEmail}}</td>
            <td>
                <button type="button" class="btn btn-info" @click="updatePage(x)">点击修改</button>
                <button type="button" class="btn btn-info" @click="del(x)">点击删除</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<link rel="stylesheet" href="css/blog-index.css">
</body>
<script>
    new Vue({
        el:"#myApp",
        data:{  //定义接收服务器的响应数据集
            list:[],
            params:{    //自定义的请求参数
                memberName:""
            }

        },
        mounted(){ //生命周期函数（等同于JavaScript文档加载函数）
            this.query();
        },
        methods:{
            // 删除条目
            del(x){
                //  删除确认弹窗
                const is = confirm("确认要删除选中条目信息吗？")
                if(is){
                    $.ajax({    //发送Ajax请求
                        url:"/admin/del",
                        type:"get",
                        data:{"memberId":x.memberId},
                        success:function (rs){  //访问服务器成功后的回调函数
                            if(rs.code==200){
                                self.query();
                            }else {
                                alert(rs.msg)
                            }
                        }
                    })
                }


            },
            //跳转用户新增页面
            addPage(){
                window.location.href="/userAdd.html"
            },
            updatePage(x){ //把选中行的数据传给修改页面
                localStorage.setItem("userkeyname",JSON.stringify(x));
                window.location.href="/userUpdate.html";
            },
            //查询数据
            query(){
                console.log("查询条件:", this.params.memberName); // 打印查询条件
                //把vue对象传给变量
                const self = this;
                $.ajax({
                    url:"/admin/query",
                    type:"get",
                    data:this.params,
                    success:function (rs){
                        console.log("后端返回的数据:", rs); // 打印后端返回的
                        if(rs.code==200){
                            self.list = rs.data;
                        }else{
                            alert(rs.msg);
                            self.list = [];
                        }
                    }
                })
            }
        }

    })
</script>

</html>